.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(10px);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	padding: 20px;
	box-sizing: border-box;
}

.modal-content {
	background: white;
	padding: 20px;
	border-radius: 16px;
	position: relative;
	width: 90%;
	max-height: 90vh;
	overflow-y: auto;
	box-sizing: border-box;
	box-shadow:
		0 10px 30px rgba(0, 0, 0, 0.2),
		0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-actions {
	margin-top: 20px;
	display: flex;
	gap: 10px;
}

.modal-close {
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	border: none;
	font-size: 30px;
	cursor: pointer;
}

.modal-title {
	margin-top: 0;
	text-align: center;
	font-family: Inter, sans-serif;
	color: #31393c;
	font-size: 32px;
	font-weight: 500;
	padding-bottom: 10px;
}
